
.container{
  display : flex;
  
}
.create{
  display: flex;
  flex-direction: column;

  background-color: white;
  margin : 50px;  
}
.renderAll{
  display : grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
  grid-auto-columns: minmax(00px, 1px);
}
.eachTodo{
  background-color: grey;
  border: solid 1px black;
  border-radius: 15px;
}
input{
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
}
button{
  padding : 10px;
  margin: 20px;
  border-radius: 10px;
}